<div class="about-me-container row">
    <div class="col-sm-12 col-md-6 image-container">
        <div class="image">
            <img src="../../assets/images/AbdelrahmanMoheddin.jpg"/>
        </div>
        
    </div>
    <div class="col-sm-12 col-md-6 info-container">
        <div class="info">
            <div class="header">
               About Me
               <hr>
            </div>
            <div class="body">
                My name is Abdelrahman Mohye Eldeen 23 old year and i am a software engineer
                and full stack web developer and my bachelor`s degree in computer science.
            </div>
            <div class="footer">
                <div class="social">
                    <div><i class="fab fa-facebook-square"></i></div>
                    <div><i class="fab fa-linkedin"></i></div>
                    <div><i class="fab fa-twitter-square"></i></div>
                </div>
            </div>
        </div>
    </div>
   
</div>