.surah-cotent{
    word-wrap: break-word;
    
}
.ayah-content{
    font-weight: 400;
    padding: 20px;
    
    text-align:justify;
    word-break:keep-all;

    box-shadow: 2px 2px 14px rgb(206, 206, 206);
}