<div class="surah-content">
    <!-- <div *ngFor="let ayah of ayaat.data.ayahs;let myindex = index">
        <div *ngIf="myindex == 0" class="m-auto text-center">
            {{ayah.text}}
        </div>
        <div *ngIf="myindex != 0" class="ayah-content">
            {{ayah.text +" ("+ myindex +") " }}
        </div>
    </div> -->
    <div class="text-center m-3">
        <!-- <h5 style="color: #555;">{{basmalh}}</h5> -->
    </div>
    <div class="row">
        <div class="m-auto ayah-content col-sm-6">
            <div class="text-center m-3">
                <h5 style="color: #555;">{{basmalh}}</h5>
            </div>
            {{allSurah}}
        </div>
    </div>
    
</div>